{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js ">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/admin_dashboard.js' %}"></script>
    <script src="{% static 'js/emp_register.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


    <title>Document</title>
</head>

<body>

    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="header_img"> <img src="{% static 'images/admin.png' %}" alt=""> </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> <a href="#" class="nav_logo"> <i class=' nav_logo-icon'><img
                                src="{% static 'images/admin2.png' %}" alt="" class="adimg"></i> <span
                            class="nav_logo-name"></span> </a>
                    <div class="nav_list"> <a href="{% url 'dashboard' %}" class="nav_link active"> <i
                                class='bx bx-grid-alt nav_icon'></i>
                            <span class="nav_name">Dashboard</span> </a>
                           <!-- <a href="" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Manage
                                Employee</span> </a>
                        <a href="" class="nav_link"> <i class='bi-person-plus'></i>
                            <span class="nav_name">Register Employee</span> </a> -->

                        <a href="messages" class="nav_link"> <i class='bx bx-message-square-detail nav_icon'></i> <span
                                class="nav_name">Messages</span>
                        </a> <a href="service_history" class="nav_link"> <i
                                    class='bx bx-folder nav_icon'></i> <span class="nav_name">Service History</span>
                            </a> 
                    </div>
                </div> <a href="" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
                        class="nav_name">Log-Out</span> </a>
            </nav>
        </div>
        <!--Container Main start-->
        <div class="height-100 bg-light">
            <h4>CR7 SPORT</h4>
            {% block content %}

            <a href="total_booking">
                <div class="total-booking">

                    <i class='bx bx-user nav_icon total-booking-icon'></i>
                    <span class="nav_name pstn">Total Booking</span>
                    <br>
                    <h5 class="count">{{total}}</h5>


                </div>
            </a>

            <a href="pending_bookings">
                <div class="total-booking">

                    <i class='bx bx-user nav_icon total-booking-icon'></i>
                    <span class="nav_name pstn">Pending Booking</span>
                    <br>
                    <h5 class="count">{{pending}}</h5>


                </div>
            </a>
            <a href="completed_booking">
                    <div class="total-booking">

                        <i class='bx bx-user nav_icon total-booking-icon'></i>
                        <span class="nav_name pstn">Completed Booking</span>
                        <br>
                        <h5 class="count">{{Completed}}</h5>


                    </div>
                </a>
                <a href="feedbacks">
                    <div class="total-booking">

                        <i class='bx bx-message-square-detail nav_icon total-booking-icon'></i>
                        <span class="nav_name pstn">Feedbacks</span>
                        <br>
                        <h5 class="count">{{feedbacks}}</h5>


                    </div>
                </a>

                {% endblock %}

        </div>
        <!--Container Main end-->
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Cancel Booking</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      Are you Sure You Want to Cancel your Booking?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
      <a href="" id="cancel_booking_btn"> <button type="button" class="btn btn-danger">Yes</button></a>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="editData" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="staticBackdropLabel">Edit Booking</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

      <div id="booking" class="section">
        <div class="section-center">
          <div class="container">
            <div class="row">
              <div class="booking-form">
                <form method="post">
                  {% csrf_token %}
                  <!-- <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <span class="form-label">Name</span>
                <input class="form-control" type="text" placeholder="Enter your name">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <span class="form-label">Email</span>
                <input class="form-control" type="email" placeholder="Enter your email">
              </div>
            </div>
          </div> -->
                  <div class="form-group">
                    <span class="form-label">Booking ID</span>
                    <input class="form-control" required name="e_id" id="e_id" disabled />
                    <input class="form-control" type="hidden" name="id" id="id" />
                    <span class="form-label">Status</span>
                    <select class="form-control" required name="status" id="status">
                     <option>Pending</option>
                     <option>Completed</option>
                     </select>
                    <span class="form-label">Select Plan</span>
                    <select class="form-control" required name="plan" id="plan" value="{{i.plan}}">
                      <option selected disabled>Select a Plan</option>
                      <option>Basic Service</option>
                      <option>Premium Service</option>
                      <option>Complex Service</option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                  <div class="form-group">
                    <span class="form-label">Phone</span>
                    <input class="form-control" type="tel" placeholder="Enter your phone number" name="phone"
                      id="phone" value="{{i.phone}}">
                  </div>
                  <div class="form-group">
                    <span class="form-label">Car Name</span>
                    <input class="form-control" type="text" placeholder="Car Model" name="car_name"
                      id="car_name">
                  </div>
                  <div class="form-group">
                    <span class="form-label">Destination</span>
                    <input class="form-control" type="text" placeholder="Enter ZIP/Location"
                      name="destination" id="destination" value="{{i.destination}}">
                  </div>
                  <div class="row">
                    <div class="col-sm-5">
                      <div class="form-group">
                        <span class="form-label">Washing Date</span>
                        <input class="form-control" type="date" required name="washing_date" id="washing_date"
                          value="{{i.washing_date}}">
                      </div>
                    </div>
                    <div class="col-sm-7">
                      <div class="row">
                        <div class="col-sm-4">
                          <div class="form-group">
                            <span class="form-label">Hour</span>
                            <select class="form-control" name="hour" id="hour" value="{{i.hour}}">
                              <option selected disabled>Hour</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                              <option>4</option>
                              <option>5</option>
                              <option>6</option>
                              <option>7</option>
                              <option>8</option>
                              <option>9</option>
                              <option>10</option>
                              <option>11</option>
                              <option>12</option>
                            </select>
                            <span class="select-arrow"></span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <span class="form-label">Min</span>
                            <select class="form-control" name="minute" id="minute">
                              <option selected disabled>Min</option>
                              <option>00</option>
                              <option>05</option>
                              <option>10</option>
                              <option>15</option>
                              <option>20</option>
                              <option>25</option>
                              <option>30</option>
                              <option>35</option>
                              <option>40</option>
                              <option>45</option>
                              <option>50</option>
                              <option>55</option>
                            </select>
                            <span class="select-arrow"></span>
                          </div>
                        </div>
                        <div class="col-sm-4">
                          <div class="form-group">
                            <span class="form-label">AM/PM</span>
                            <select class="form-control" name="ampm" id="ampm">
                              <option selected disabled>AM/PM</option>
                              <option>AM</option>
                              <option>PM</option>
                            </select>
                            <span class="select-arrow"></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>

  

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



    </body>

</html>