{% extends 'dashboard.html' %}
{% block content %}

<h2 class="bookingHeading">Messages</h2>

<br><br><br>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Message</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for i in data %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.message}}</td>
        <td><a href="delete_message/{{i.id}}"><button type="BUtton" class="btn btn-danger btn-sm btnsz cb"><span class="cbk">Delete</span></button></a></td>
      </tr>
      {% endfor %}
      </table>

  <div class="bbbt"><a href="{% url 'booking' %}">
    <button type="button" class="btn btn-primary">Book turf</button></a>
    <br><br>
    <button type="button" class="btn btn-primary" onclick="history.back()">Back to Home</button>
  </div>
  </div>


{% endblock %}