{% extends 'dashboard.html' %}
{% block content %}

<h2 class="bookingHeading">Total Booking</h2>

<br><br><br>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Booking Id</th>
        <th scope="col">customer name</th>
        <th scope="col">email</th>
        <th scope="col">Phone</th>
        <th scope="col">Date</th>
        <!-- <th scope="col">Date</th> -->
        <th scope="col">Time</th>
        <!-- <th scope="col">Action</th> -->
      </tr>
    </thead>
    <tbody>
    {% for i in bookings %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td>{{i.name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.date}}</td>
        <td>{{i.time}}</td>
        <!-- <td>{{i.status}}</td> -->
        <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="editBookings('{{i.id}}')">Edit</button>&nbsp;<button type="BUtton" class="btn btn-danger btn-sm btnsz cb"><span class="cbk">Cancel Booking</span></button></td>
      </tr>
      {% endfor %}
      </table>

  <div class="bbbt"><a href="{% url 'booking' %}">
    <button type="button" class="btn btn-primary">Book turf</button></a>
    <br><br>
    <button type="button" class="btn btn-primary" onclick="history.back()">Back to Home</button>
  </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" >Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...	<div id="booking" class="section">
          <div class="section-center">
            <div class="container">
              <div class="row">
                <div class="booking-form">
                  <div class="form-header">
                    <h1>Book your Slot</h1>
                  </div>
                  <form method="post" >
                    {% csrf_token %}
      
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <span class="form-label">Name</span>
                          <input class="form-control" type="text" placeholder="Enter your name" name="name" id="name" required>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <span class="form-label">Email</span>
                          <input class="form-control" type="email" placeholder="Enter your email" name="email" id="email" required>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <span class="form-label">Phone</span>
                      <input class="form-control" type="tel" placeholder="Enter your phone number" name="phone" id="email" required>
                    </div>
                     <!-- <div class="form-group"> 
                      <span class="form-label">Time </span>
                      <input class="form-control" type="text" placeholder="Enter ZIP/Location" name="time">
                    </div> -->
                    <!-- <div class="form-group">
                      <span class="form-label">Destination</span>
                      <input class="form-control" type="text" placeholder="Enter ZIP/Location"> -->
                    <!-- </div>   -->
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="form-group">
                          <span class="form-label">Date</span>
                          <input class="form-control" type="date" name="date" id="date" required  >
                        </div>
                      </div>
                      <div class="col-sm-7">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="form-group">
                              <span class="form-label">Time</span>
                              <select class="form-control" name = 'time' id="time">
                                <option>6:00am</option>
                                <option>7:00am</option>
                                <option>8:00am</option>
                                <option>9:00am</option>
                                <option>10:00am</option>
                                <option>11:00am</option>
                                <option>12:00pm</option>
                                <option>1:00pm</option>
                                <option>2:00pm</option>
                                <option>3:00pm</option>
                                <option>4:00pm</option>
                                <option>5:00pm</option>
                                <option>6:00pm</option>
                                <option>7:00pm</option>
                                <option>8:00pm</option>
                                <option>9:00pm</option>
                                <option>10:00pm</option>
                                <option>11:00pm</option>
                                <option>12:00pm</option>
                              </select>
                              <span class="select-arrow"></span>
                            </div>
                          </div>
                          <!-- <div class="col-sm-4">
                            <div class="form-group">
                              <span class="form-label">Min</span>
                              <select class="form-control">
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                              </select>
                              <span class="select-arrow"></span>
                            </div>
                          </div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <span class="form-label">AM/PM</span>
                              <select class="form-control">
                                <option>AM</option>
                                <option>PM</option>
                              </select>
                              <span class="select-arrow"></span>
                            </div>
                          </div> -->
                        </div> 
                      </div>
                    </div>
                    <div class="form-btn">
                      <button class="submit-btn">Book Now</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
